// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-image: url('asanoha-400px.png');
}

.picture {
    display: inline-block;
    width: 200px;
    height: 250px;
    overflow: hidden;
}
